.carousel-block {
    width: 100%;
    height: 100%;
    
    padding: 50px;
}

.book {
    width: 255px;
    height: 400px;

    text-align: center;

    background-color: black;
    color: white;

    box-shadow: 4px 4px 12px 1px rgb(255, 255, 255);
}

.border {
    border-radius: 20px;
}

.red {
    background-image: radial-gradient(#dd0000, #4d0303);
    background-repeat: no-repeat;
}

.blue {
    background-image: radial-gradient(#0085dd, #03114d);
    background-repeat: no-repeat;			
}

.purple {
    background-image: radial-gradient(#8500dd, #42034d);
    background-repeat: no-repeat;
}

.custom-edit-form {
    width: 600px;
    height: 600px;

    padding: 10px 20px 0 20px;

    position: fixed;
    top: 20%;
    left: 33%;

    background-color: white;

    border: 1px solid black;
    border-radius: 10px;
}